body{ /*reseteo*/
    margin: 0;
    padding: 0;
    background-image: url(/Assets/piresten.jpg);
}

:root { /* Genero variables para color y tipografia */ 
    --mainFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secundaryFont: Arial, Helvetica, sans-serif;
    --mainColor: White;
    --secundaryColor: black;
}

*{  /* Asigno tipografia al todo, elimino los estilos en listas y decoraciones */
    font-family: var(--mainFont);
    color: var(--mainColor);
    list-style-type: none;
    text-decoration: none;
}

p{
    font-family: var(--secundaryFont);
}

header{ /*asigno img de fondo, hago que cubra todo y le doy 100vh al contenedor para que cubra todo el alto de la pantalla*/
    max-height: 100vh;
}

.containerNavBar { /*Vuelvo flex a la barra de navehacion para poder centrar y dirigir a ambos extremos*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.containerNavBar div img { /*Tamaño de logo*/
    max-height: 70px;
    padding-top: 20px;
    cursor: pointer;
}

.navBar ul {
    display: flex;
    gap: 30px;
    color: white;
    cursor: pointer;
} 
/* ------Siguiente contenedor-------- */
.imgPresentacion{
    width: 70%;
    padding-left: 10%;
}

h1{
    font-size: 45px;
}

h2{
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
}

h3{
    color: var(--mainColor);
}

.containerMainHeader { /*doy altura al contenedor para centrar con flex y separo con padding del costado*/
    display: flex;
    align-items: center;
    padding-left: 100px;
    height: 90vh;
}

.mainPresentacion{
    width: 50%;
    }

/* Siguientes contenedores - Contenedores categorias */
.categoriesDiv { /*centro con flex, separo con gap y centro el texto en cada uno de sus contenedores*/
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;
    text-align: center;
    
}

.categoriesDiv div p{ /*Separo el parrafo de los bordes*/
    padding: 0px 10px 0 10px;
    color: var(--secundaryColor);
}

.cardCategories{
    background-color: rgba(145, 165, 184, 0.541);
    width: 300px;
    min-height: 370px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 3px rgba(100, 111, 116, 0.384);
    transition: 0.5s transform;
}

.cardCategories:hover{
transform: scale(1.03);
}

.divImg img{
    width: 300px;
    max-height: 250px;
}

/*Siguiente seccion*/

#products{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.cardProductos{
    padding-top: 5px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cardProductos .cards{
    padding: 10px 0 20px 0;
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgba(145, 165, 184, 0.541);
    transition: 0.5s transform;

}

.cardProductos .cards:hover{
    transform: scale(1.02);
}

.imgProductos{
    width: 35%;
    margin-top: 5px;
}

.cards a{
    border: solid 1px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(7,102,199);

}

.cards a:hover{
    background-color: #fdfd07;
    color: rgb(7,102,199);
}

/*-------------------*/
#contact{
    min-height: 70vh;
}

form{
    border: solid 1px;
    width: 40%;
    margin: auto;
    padding: 0 20px 20px 20px;
    border-radius: 15px;
    background-color: rgba(0, 5, 7, 0.534)
}

form *{
    display: block;
    width: 100%;
    margin: 15px auto;
    border: none;
}

form textarea, form input{
    border: solid 1px gray;
    padding: 5px;
    border-radius: 5px;
    color: var(--secundaryColor);
}

#contact button{
    color: var(--secundaryColor);
    background-color: #fdfd07;
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
}

#contact button:hover{
    background-color: rgb(7,102,199);
    color: var(--mainColor);
}

.iconWhatsapp{
    position: fixed;
    background-color: #229d14;
    bottom: 33px;
    right: 33px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.iconWhatsapp a{
    text-decoration: none;
}

.iconWhatsapp i{
    font-size: 50px;
}

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(1, 8, 12, 0.795);
    margin-top: 40px;
}

footer h4{
    margin-left: 45px;
}


@media (max-width: 880px){ 
    .categoriesDiv{
        flex-direction: column; /*Funciona para tablet y mobile*/
    }

    .cardProductos{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        align-items: center;
        text-align: center;
    }

    footer ul li{
        padding: 5px;
    }
}

@media (max-width: 480px){
    .cardProductos{
        grid-template-columns: repeat(1, 1fr);
    }

    .imgPresentacion{
        display: none;
    }

    .containerMainHeader{
        padding-left: 50px;
    }

    .mainPresentacion{
        width: 90%;
        }

    .navBar ul{
        gap: 0px;
    }

    .cardProductos .cards, .cardCategories:hover{
        transform: none;
    }

    .navBar ul{
        display: none;
    }